{% extends "layout.html" %}

{% block title %}Início - Questify{% endblock %}

{% block content %}
    <h1 class="text-center">Questify - Gamifique suas Tarefas!</h1>
    <div class="row mt-4">
        <!-- Projects Column -->
        <div class="col-md-4">
            <div class="board-column" id="todo">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="mt-2">Projetos</h4>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-add" data-bs-toggle="modal" data-bs-target="#addProjectModal">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="task-card d-flex justify-content-between align-items-center" id="task1">
                    <div>
                        <div class="task-title">Questify Front</div>
                        <div class="task-points">Tarefas: 2</div>
                    </div>
                    <!-- Edit Icon -->
                    <button class="btn btn-sm btn-add" onclick="editProject('Questify Front', '2')">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </div>
                <div class="task-card d-flex justify-content-between align-items-center" id="task2">
                    <div>
                        <div class="task-title">Questify Back</div>
                        <div class="task-points">Tarefas: 2</div>
                    </div>
                    <!-- Edit Icon -->
                    <button class="btn btn-sm btn-add" onclick="editProject('Questify Back', '2')">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </div>
                {% for project in projects %}
                <div class="task-card d-flex justify-content-between align-items-center" id="proj{{ project.id }}">
                    <div>
                        <div class="task-title">{{ project.nome }}</div>
                        <div class="task-points">Tarefas: {{ project.tarefas }}</div>
                    </div>
                    <!-- Edit Icon -->
                    <button class="btn btn-sm btn-add" onclick="editProject('{{ project.nome }}', '{{project.id}}')">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Tasks Column -->
        <div class="col-md-4">
            <div class="board-column" id="inprogress">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="mt-2">Tarefas</h4>
                    <button class="btn btn-sm d-flex align-items-center justify-content-center btn-add" data-bs-toggle="modal" data-bs-target="#addTaskModal">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                {% for task in todo %}
                <div class="task-card d-flex justify-content-between align-items-center" id="task-{{ task[3] }}">
                    <div>
                        <div class="task-title" onclick="editTask('{{ task[0] }}', '{{ task[1] }}', '{{ task[2] }}')">{{ task[0] }} | {{ task[2] }}</div>
                        <div class="task-points" onclick="editTask('{{ task[0] }}', '{{ task[1] }}', '{{ task[2] }}')">XP: {{ task[1] }}</div>
                    </div>
                    <div>
                        <input type="checkbox" class="form-check-input me-2"
                   {% if task[4] %} checked {% endif %} onclick="toggleTaskStatus({{ task[3] }})" />
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Ranking Column -->
        <div class="col-md-4">
            <div class="board-column" id="done">
                <h4>Ranking</h4>
                <div class="task-card d-flex align-items-center" id="rank1">
                    <!-- User Avatar -->
                    <img src="{{ url_for('static', filename='images/avatars/' + 'user1.png') }}" alt="Avatar" style="height: 40px; width: 40px; border-radius: 50%;" onerror="this.onerror=null; this.style.display='none'; document.getElementById('avatar-icon-1').style.display='inline';">
                    <!-- Generic icon if there is no user avatar -->
                    <i id="avatar-icon-1" class="fas fa-user-circle" style="font-size: 40px; color: gray; display: none; margin-right: 10px;"></i>

                    <div class="ml-5">
                        <div class="task-title">User 1</div>
                        <div class="task-points">XP: 50</div>
                    </div>
                </div>
                <div class="task-card d-flex align-items-center" id="rank2">
                    <!-- User Avatar -->
                    <img src="{{ url_for('static', filename='images/avatars/' + 'user2.png') }}" alt="Avatar" style="height: 40px; width: 40px; border-radius: 50%;" onerror="this.onerror=null; this.style.display='none'; document.getElementById('avatar-icon-2').style.display='inline';">
                    <!-- Generic icon if there is no user avatar -->
                    <i id="avatar-icon-2" class="fas fa-user-circle" style="font-size: 40px; color: gray; display: none; margin-right: 10px;"></i>

                    <div class="ml-5">
                        <div class="task-title">User 2</div>
                        <div class="task-points">XP: 50</div>
                    </div>
                </div>
                <div class="task-card d-flex align-items-center" id="rank3">
                    <!-- User Avatar -->
                    <img src="{{ url_for('static', filename='images/avatars/' + 'user3.png') }}" alt="Avatar" style="height: 40px; width: 40px; border-radius: 50%;" onerror="this.onerror=null; this.style.display='none'; document.getElementById('avatar-icon-3').style.display='inline';">
                    <!-- Generic icon if there is no user avatar -->
                    <i id="avatar-icon-3" class="fas fa-user-circle" style="font-size: 40px; color: gray; display: none; margin-right: 10px;"></i>

                    <div class="ml-5">
                        <div class="task-title">User 3</div>
                        <div class="task-points">XP: 50</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add new Project Modal -->
    <div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProjectModalLabel">Adicionar Novo Projeto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addProjectForm" action="/add_project" method="post">
                        <div class="mb-3">
                            <label for="projectName" class="form-label">Nome do Projeto</label>
                            <input type="text" name="projectName" class="form-control" id="projectName" placeholder="Digite o nome do projeto">
                        </div>
                        <button type="submit" class="btn btn-success">Adicionar Projeto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Add new Task Modal -->
    <div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTaskModalLabel">Adicionar Nova Tarefa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addTaskForm">
                        <div class="mb-3">
                            <label for="taskName" class="form-label">Nome da Tarefa</label>
                            <input type="text" class="form-control" id="taskName" placeholder="Digite o nome da tarefa">
                        </div>
                        <div class="mb-3">
                            <label for="taskXp" class="form-label">XP da Tarefa</label>
                            <input type="number" class="form-control" id="taskXp" placeholder="Digite o valor de XP da tarefa">
                        </div>
                        <div class="mb-3">
                            <label for="taskProject" class="form-label">Projeto</label>
                            <select class="form-select" id="taskProject">
                                <!-- Options must be dinamically loaded -->
                                <option value="0">Questify Front</option>
                                <option value="1">Questify Back</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Adicionar Tarefa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Project Edit Modal -->
    <div class="modal fade" id="editProjectModal" tabindex="-1" aria-labelledby="editProjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProjectModalLabel">Editar Projeto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editProjectForm">
                        <div class="mb-3">
                            <label for="editProjectName" class="form-label">Nome do Projeto</label>
                            <input type="text" class="form-control" id="editProjectName" value="">
                        </div>
                        <div class="mb-3">
                            <label for="editProjectTasks" class="form-label">Quantidade de Tarefas</label>
                            <input type="number" class="form-control" id="editProjectTasks" value="" readonly>
                        </div>
                        <button type="submit" class="btn btn-success">Salvar Alterações</button>
                        <button type="button" class="btn btn-danger" id="deleteProjectButton">Excluir Projeto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Task Edit Modal -->
    <div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="editTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskModalLabel">Editar Tarefa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editTaskForm">
                        <div class="mb-3">
                            <label for="editTaskName" class="form-label">Nome da Tarefa</label>
                            <input type="text" class="form-control" id="editTaskName" value="">
                        </div>
                        <div class="mb-3">
                            <label for="editTaskXp" class="form-label">XP da Tarefa</label>
                            <input type="number" class="form-control" id="editTaskXp" value="">
                        </div>
                        <div class="mb-3">
                            <label for="editTaskProject" class="form-label">Projeto</label>
                            <select class="form-select" id="editTaskProject">
                                {% for project in projects %}
                                <option value="{{ project[0] }}">{{ project[0] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Salvar Alterações</button>
                        <button type="button" class="btn btn-danger" id="deleteTaskButton">Excluir Tarefa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        getElementById("profilePic").src="static/profile.png"
        /*document.getElementById('addProjectForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const projectName = document.getElementById('projectName').value;
            const projectTasks = document.getElementById('projectTasks').value;
            console.log('Novo Projeto:', projectName, projectTasks);
            // Add project in backend or frontend here
        });*/

        document.getElementById('addTaskForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const taskName = document.getElementById('taskName').value;
            const taskXp = document.getElementById('taskXp').value;
            const taskProject = document.getElementById('taskProject').value;
            console.log('Nova Tarefa:', taskName, taskXp, taskProject);
            // Add task in backend or frontend here
        });
    </script>

{% endblock %}
