{% extends 'base.html' %}

{% block title %}Tarefas - Questify{% endblock %}

{% block content %}
<main class="task-list">
    <div class="task-item">
        <div class="task-due">
            <span>Due in 18 hours</span>
        </div>
        <div class="task-content">
            <div class="task-icon">
                <i class="fa-solid fa-database text-white"></i>
            </div>
            <div class="task-info">
                <h3>Exemplo</h3>
                <p>Descrição</p>
            </div>
            <div class="task-details">
                <span>1 hour</span>
                <span>5</span>
                <i class="fa-solid fa-diamond text-white"></i>
            </div>
        </div>
    </div>

    <div class="task-item">
        <div class="task-due">
            <span>Due in 1 week</span>
        </div>
        <div class="task-content">
            <div class="task-icon">
                <i class="fa-solid fa-camera text-white"></i>
            </div>
            <div class="task-info">
                <h3>Exemplo</h3>
                <p>Descrição</p>
            </div>
            <div class="task-details">
                <span>1 day</span>
                <span>25</span>
                <i class="fa-solid fa-diamond text-white"></i>
            </div>
        </div>
    </div>
</main>
{% endblock %}
